<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
             http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">
  <persistence-unit name="default" transaction-type="RESOURCE_LOCAL">
      <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

      <class>models.ActorsEntity</class>
      <class>models.DirectorsEntity</class>
      <class>models.GenresEntity</class>
      <class>models.MoviesEntity</class>
      <properties>
          <property name="hibernate.connection.url" value="jdbc:postgresql://localhost:5432/lab8_pa"/>
          <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>

          <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
          <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/lab8_pa"/>
          <property name="javax.persistence.jdbc.user" value="postgres"/>
          <property name="javax.persistence.jdbc.password" value="gabriela"/>
      </properties>
  </persistence-unit>
</persistence>
